.details {
	margin-top: 8.5rem;
	margin-bottom: 8.5rem;

	.target {
		display: flex;
		align-items: center;
		gap: 0.5rem 2rem;
		flex-wrap: wrap;

		&__link,
		span {
			font-size: 10px;
			font-weight: 700;
			color: $color-text;
			text-decoration: none;
		}
	}

	&__card {
		background-color: $color-white;
		padding: 1rem;
		border-radius: 1.7rem;
	}

	&__item {
		gap: 3rem;

		@media only screen and (max-width: $tab-port) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__left {
		@media only screen and (max-width: $tab-port) {
			width: 100%;
			text-align: center;
		}

		.btns {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 0;
		}

		.btn {
			width: 100%;
			padding: 1.8rem 0;
			background: #eeebeb;
			border: 0.2px solid #4e4e4e;
			border-radius: 0;
		}

		.text {
			gap: 0.5rem;

			@media only screen and (max-width: $tab-port) {
				justify-content: center;
			}

			.icon {
				height: 1.1rem;
				width: 1.1rem;
			}

			span {
				font-size: 1.1rem;
				font-weight: 700;
			}
		}
	}

	&__img {
		height: 28rem;
		width: 28rem;

		@media only screen and (max-width: $tab-port) {
			margin: 0 auto;
		}

		img {
			@include img-size;
		}
	}

	&__right {
		.text {
			font-size: 1.2rem;

			.deals-name {
				color: #49b5f1;
			}
		}

		.price {
			display: flex;
			align-items: center;
			gap: 1rem;

			@media only screen and (max-width: $tab-port) {
				justify-content: center;
			}

			.new-price {
				font-size: 2.8rem;
				font-weight: 700;
				color: #3ab743;
			}
			.old-price {
				color: #ff0000;
				font-size: 1.4rem;
				font-weight: 700;
				text-decoration: line-through;
			}
		}

		.btns {
			.btn {
				border-radius: 1.5rem;
			}
		}

		.posted-user {
			font-size: 11px;
			font-weight: 700;
			color: #a7a7a7;
			margin-bottom: 1rem;
		}

		.user {
			gap: 1rem;
			text-decoration: none;
			margin-bottom: 1rem;

			@media only screen and (max-width: $tab-port) {
				justify-content: center;
			}

			h4 {
				font-size: 11px;
				color: #4e4e4e;
				font-weight: 700;
				text-decoration: none !important;
				// margin-bottom: 1rem;
			}
		}
	}

	&__title {
		font-size: 2rem;
		font-weight: 700;
	}

	&__desc {
		@media only screen and (max-width: $tab-port) {
			text-align: center;
		}
	}

	.more-imgs {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 3.5rem;

		&__img {
			height: auto;

			img {
				@include img-size;
				object-fit: contain;
			}
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
		border-bottom: 0.5px solid #909090;
		padding-bottom: 5rem;

		.btn__tag {
			padding: 1rem 4rem;
			border: 0.5px solid #bcbcbc;
		}
	}

	&__comments {
		padding-bottom: 2rem;

		.comment {
			width: 100%;
			gap: 1.2rem;

			img {
				height: 5rem;
				width: 5rem;
				border-radius: 50%;
			}

			input {
				background: #ebebeb;
				border: 0.2px solid #dbdbdb;
				border-radius: 26px;
				width: 100%;
				text-align: left;
				cursor: auto;
			}
		}
	}
}
