.auth {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 12;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(53, 53, 53, 0.87);
		height: 100%;
		width: 100%;
		z-index: 10;
		// opacity: 0;
		// visibility: hidden;
	}

	.close-popup {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		background-color: $color-white;
		height: 3.1rem;
		width: 3.1rem;
		border-radius: 50%;
		z-index: 11;
		border: none;

		.icon {
			@include img-size;
			transform: scale(0.8);
		}
	}

	&__card {
		position: absolute;
		top: 6.4rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 11;
		background-color: $color-white;
		max-width: 40rem;
		width: 100%;
		padding: 4rem 6.5rem;
		text-align: center;
		border-radius: 2rem;
		// opacity: 0;
		// visibility: hidden;
	}

	h2 {
	}

	p {
	}

	.btn__facebook {
		background: #4267b2;
		color: $color-white;
		gap: 2rem;

		img {
			height: 2.8rem;
			width: 2.8rem;
		}
	}

	.or {
		font-weight: 700;
	}

	&__form {
		input {
			text-align: left;
			border: 0.5px solid #4e4e4e !important;
		}
	}

	.btn__auth {
		width: 100%;
		border-radius: 1.5rem;
	}

	.small-text {
		font-size: 9px;
	}

	&__footer {
		border-top: 0.5px solid #909090;
		padding: 1.6rem 0;

		p {
		}
		a {
			color: #49b5f1;
			text-decoration: underline;
		}
	}
}

.show-popup {
	opacity: 1;
	visibility: visible;
}
